body {
  background-color: lightcyan;
  font-size: 1.5em;
}

.background-blue {
  background-color: lightblue;
}

.center-text {
  text-align: center;
}

.initial-hide {
  display: none;
}

.btn-dark {
  background-color: grey;
  color: white;
}
